<div class = "comment-detail" id="<%=comment.id%>">
  <div class = "vote-button-container">
    <button id="upvote">
      <i class="fa fa-chevron-up upvoted" aria-hidden="true"></i>
    </button>
    <span class="points-small">
      1
    </span>
    <button id="downvote">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
  </div>

  <p><%= comment.description %></p>

  <div style="padding-left:35px">
    <a href='/user_profile/<%= comment.user_id %>'><%= User.find(comment.user_id).user_name %></a> posted at <%= comment.created_at.strftime("%k:%M %b %e, %Y") %>
  </div>
</div>
