<article id="<%= question.id %>">
  <h3><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
  <p><%= question.description %></p>
  <p><%= question.user.user_name %></p>
  <p><%= question.created_at %></p>
</article>