<div class="article" id="<%= question.id %>">
  <div class="count vote-count">
    <p class="count-p">Votes</p>
    <p><%= question.vote_count %></p>
  </div>
  <div class="count view-count">
    <p class="count-p">Views</p>
    <p><%= question.vote_count %></p>
  </div>
  <div class="count answer-count">
    <p class="count-p">Answers</p>
    <p><%= question.answers.size %></p>
  </div>
  <div class="question-detail">
    <h3>
      <a href='/questions/<%= question.id %>'>
        <%= question.title %>
      </a>
      <% if question.answered? %>
        <p class="answered-flag">Answered</a>
      <% end %>
    </h3>
    <p class="description"><%= stub(question.description) %></p>
    <p class="user_timestamp_container">
     <!--  <button> -->
<!--         <form action="questions/<%= question.id %>" method="get">
          <input type="submit" value="answer" class="styled-button">
        </form> -->
      <!-- </button> -->
    	<span class="user_name">
        asked by
    		<a href = "/user_profile/<%= question.user.id %>">
    			<%= question.user.user_name %>
    		</a>
    	</span>
    	<span class="timestamp">
    		on <%= @timestamps[i] %>
    	</span>
    </p>
  </div>
</div>
