<article id="<%= question.id %>">
  <span class="vote-count">
    <%= question.vote_count %>
  </span>
  <span class="question-detail">
    <h3>
      <a href='/questions/<%= question.id %>'>
        <%= question.title %>
      </a>
    </h3>
    <p class="description"><%= stub(question.description) %></p>
    <p class="user_timestamp_container">
     <!--  <button> -->
        <form action="questions/<%= question.id %>" method="get">
          <input type="submit" value="answer" class="styled-button">
        </form>
      <!-- </button> -->
    	<span class="user_name">
    		<a href = "#">
    			<%= question.user.user_name %>
    		</a>
    	</span>
    	<span class="timestamp">
    		on <%= @timestamps[i] %>
    	</span>
    </p>
  </span>
  </
</article>
