<h2>Overflow user information for '<%= @user.user_name %>' :</h2>
<ul>
	<li>Member since: <%= @user.created_at %></li>
	<% if @topQuestion %>
		<li><%= @user.user_name %>'s top rated post is <%= @topQuestion.title %> posted on <%= @topQuestion.created_at%> with <%= @topQuestion.vote_count %> total votes</li>
		<li><%= @user.user_name %>'s lowest rated post is <%= @lowQuestion.title %> posted on <%= @lowQuestion.created_at%> with <%= @lowQuestion.vote_count %> total votes</li>
	<% else %>
		<li><%= @user.user_name %> does not have any posts yet</li>
	<% end %>
	<li>Total post karma for <%= @user.user_name %> is <%= @total_post_karma %> votes</li>
</ul>