<h2>Overflow User Information for: <strong><%= @user.user_name %></strong></h2>
<table>
	<tr>
    <th>Member since</th>
    <td><%= @user.created_at.strftime("%k:%M %b %e, %Y") %></td>
  </tr>
  <% if @topQuestion %>
    <tr>
      <th>Top Rated Post</th>
      <td></td>
    </tr>
    <tr>
      <th class="normal">&nbsp&nbsp&nbsp&nbspTitle</th>
      <td><%= @topQuestion.title %></td>
    </tr>
    <tr>
      <th class="normal">&nbsp&nbsp&nbsp&nbspVotes</th>
      <td><%= @topQuestion.vote_count %></td>
    </tr>
  <% end %>
  <tr>
    <th>Post Karma</th>
    <td><%= @total_post_karma %></td>
  </tr>
</table>