<div class = "question-container page" id = "<%=@question.id%>">
  <div class="sidebar">
    <button id="upvote">
    	<i class="fa fa-chevron-up" aria-hidden="true"></i>
    </button>

    <span class="points"><%= @question.vote_count %></span>

    <button id="downvote">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
  </div>

  <div class = "question-detail">
    <h3 class="question-title"><%= @question.title %></h3>
    <p><%= @question.description %></p>
    <a class="comment-question" href="/questions/<%= @question.id %>/comment/new">add comment to question</a>
    <form class="inside-comment-q hidden" method='post' action="/questions/<%= @question.id %>/comment">
      <textarea class="new-description" name='description' placeholder="Your comment..."></textarea><br>
      <button class="styled-button submit">submit</button>
    </form>

    <div class="question-comments">
      <% q_comments_by_time = @question.comments.order(:created_at) %>
      <% q_comments_by_time.to_a.each do |comment| %>
        <div class = "comment-detail" id="<%=comment.id%>">

          <div class = "vote-button-container">
            <button id="upvote">
              <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </button>

            <span class="points-small">
              <%= comment.vote_count %>
            </span>

            <button id="downvote">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </button>
          </div>

          <p class="comment-p"><%= comment.description %></p>
          
          <div style="padding-left:35px; color: gray"> 
            <a href='/user_profile/<%= comment.user_id %>'><%= User.find(comment.user_id).user_name %></a> posted at <%= comment.created_at.strftime("%k:%M %b %e, %Y") %>
          </div>
        </div>
      <%end%>
    </div>

    <h4 style="margin: 10px 0px 5px 0px">Answers</h4>
  </div>

<div class = "float-clear"></div>
<% @answers.to_a.each do |answer| %>
  <% if answer.best_answer == 1 %>
    <% @best_answer_selected = true %>
  <% end %>
<% end %>

<% @answers_sorted_by_votes = (@answers.sort_by { |answer| answer.vote_count }).reverse! %>

<!-- promote best answer if exists -->
<% if @question.best_answer %>
  <% @answers_sorted_by_votes.unshift(@answers_sorted_by_votes.delete(@question.best_answer)) %>
<% end %>

<div class="all-answers">
  <% @answers_sorted_by_votes.each do |answer| %>
    <div class="answer" style="overflow: hidden" id="<%=answer.id%>">
      <div class="sidebar">
         <% if answer.best_answer == 1 %>
            <div class = "best-answer">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
        <% end %>
      </div>

      <div class = "vote-button-container vote-button-container-answer">
        <button id="upvote">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </button>
        <span class="points-small">
          <%= answer.vote_count %>
        </span>
        <button id="downvote">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class = "answer-detail" id="<%=answer.id%>">
        <p class="comment-a"><%= answer.description %></p>

        <span class = "user_timestamp_container time-answer">
          <span style="float:right">
            <a href="/user_profile/<%= answer.user_id %>"><%= answer.user.user_name %></a> answered at <%= answer.created_at.strftime("%k:%M %b %e, %Y") %>
          </span>
          <a class="comment-answer" href="/answers/<%= answer.id %>/comment/new">add comment to answer</a>
        </span>
        <form class="inside-comment-a hidden" method='post' action="/answers/<%= answer.id %>/comment">
          <textarea class="new-description" name='description' placeholder="Your comment..."></textarea><br>
          <button class="styled-button submit">submit</button>
        </form>

        <div class="buttongroup">
          <% if @question.user_id == session[:user_id] && !@best_answer_selected %>
            <form method="post" action="/question/<%= @question.id %>/answers/<%= answer.id %>">
              <button id="best_answer_button" type="submit" name="best_answer" class="styled-button">Select Best Answer</button>
            </form>
          <% end %>
        </div>

        <div class = "float-clear"></div>

        <div class = "answer-comments">
          <% comments_by_time = answer.comments.order(:created_at) %>
          <% comments_by_time.to_a.each do |comment| %>
            <div class = "comment-detail" id="<%=comment.id%>">
              <div class = "vote-button-container">
                <button id="upvote">
                  <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </button>
                <span class="points-small">
                  <%= comment.vote_count %>
                </span>
                <button id="downvote">
                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>

              <p><%= comment.description %></p>

              <div style="padding-left:35px">
                <a href='/user_profile/<%= comment.user_id %>'><%= User.find(comment.user_id).user_name %></a> posted at <%= comment.created_at.strftime("%k:%M %b %e, %Y") %>
              </div>
            </div> 
          <% end %>
        </div>
      </div>
      <!-- ends loop -->
    </div>
  <% end %>
</div>

<% if @errors %>
  <div class="errors" style="margin: 10px 0 0 60px">
    <span>Something went wrong:</span>
    <ul class="error-list">
      <% @errors.each do |error| %>
        <li class="error-item"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if session[:user_id] && (@question.user_id != session[:user_id]) && !(@question.answered_by?(session[:user_id])) && !(@question.answered?) %>
  <div class="answer-text-box">
    <form method="post" action="/question/<%= @question.id %>/answers">
      <textarea name="answertext" cols="50" rows="5" placeholder="Your answer..."></textarea>
      <input style="margin-top: 10px; color: white" type="submit" value="Post your Answer" class="styled-button">
    </form>
  </div>
<% end %>







