<button id="upvote">^</button>
<button id="downvote">v</button>
<p id="points"><%= @question.votes.count %></button>

<h3><%= @question.title %></h3>
<p><%= @question.description %></p>

<% @answers.to_a.each do |answer| %>
	<p>
    <%= answer.description %>
	</p>
  <p class = "user_timestamp_container">
    <span>
      <%= answer.user.user_name %>
    </span>
  </p>
<% end %>


